.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 400px;
  background-color: #9b9696;
  gap: 18px;
  padding: 15px;
  margin-bottom: 20px;
}

.input {
  padding: 8px;
  line-height: 1.8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border: 0;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.input:hover,
.input:focus,
.input:active {
  outline: none;
  background-color: #eff3f6;
}

.button {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.8;
  letter-spacing: 0.04em;
  width: 150px;
  background: #4d5ae5;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border: 0;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button.button:focus {
  background: #404bbf;
}
